<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADBoJaUlQJ03BkglRinwT9yYnNXDmyWOE</string>
	<key>GCM_SENDER_ID</key>
	<string>710742246558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.delivery.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>seismic-ground-410711</string>
	<key>STORAGE_BUCKET</key>
	<string>seismic-ground-410711.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710742246558:ios:855b729bca40f7707ce78f</string>
</dict>
</plist>